//
// Variables
//
//

// font size
$default-font-size: 14; // Default


// colors
// Reds
$red-base:              #d43f3a;

// Greens
$green-base:            #36b641;

// Oranges
$orange-base:           #ffa200;

// Yellows
$yellow-base:           #ffcc33;

// Grays (overwriting bootstrap variables)
$gray-base:             #000 !default;
$gray-darker:           #222a32 !default;
$gray-dark:             #4d4d4d !default;
$gray:                  #999 !default;
$gray-light:            #e7e7e7 !default;
$gray-lighter:          #eee !default;


